* {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	display: grid;
	grid-template-columns: auto minmax(10rem,20rem) minmax(25rem,50rem) auto;
	grid-template-rows: auto auto;
	grid-template-areas: 
		"header-empty header-empty header header"
		". nav main .";
}

img {
	max-width: 100%;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 3rem;
	padding: 2rem 1rem;
	margin: 0 0;
	display: inline-block;
}

h2, h3, h4, h5, h6, a {
	font-family: 'Source Serif Pro', monospace;
}

h2 {
	font-size: 2rem;
}

p {
	font-size: 16pt;
}

a {
	font-size: 1rem;
	color: #4a8f80;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	grid-area: header;
	background-color: #f2edf1;
/*	border-left: 5px #e35fbf dotted;*/
	border-bottom: 5px #e35fbf dotted;
	white-space: nowrap;
}

.header-empty {
	grid-area: header-empty;
	background-color: #f2edf1;
	border-bottom: 5px #e35fbf dotted;
}

.slogan {
	font-family: "Cookie", cursive;
	color: #c7408c;
	font-size: 2rem;
	white-space: nowrap;
}


nav {
	grid-area: nav;
	display: flex;
	flex-direction: column;
	margin: 0 1rem;
}

nav a {
	display: block;
	width: 100%;
	padding: 1em;
	margin: 0.5rem 0;
	border: 5px #e35fbf dotted; 
	text-align: center;
	background-color: #f2edf1;
	transition: background-color 0.15s;
}

nav a:hover {
	transition: background-color 0.3s;
	background-color: #fded5f;
}

.avatar {
	width: 100%;
	padding: 1rem;
}

main {
	grid-area: main;
	padding: 2rem 1rem 1rem 1rem;
}

.portfolio-item {
	background-color: #c5e3dc;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	margin-bottom: 2rem;
	transition: background-color 0.15s;
}

.portfolio-item:hover {
	transition: background-color 0.3s;
	background-color: #d4b4ca;
}

.portfolio-image {
	width: 100%;
}

.portfolio-item-title {
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
}

.portfolio-link {
	align-self: flex-end;
	background-color: #fded5f;
	color: #c7408c;
	padding: 0.5rem;
}

@media screen and (max-width: 800px) {
	body {
		display: flex;
		flex-direction: column;
	}
	
	h1 {
		display: block;
		text-align: center;
	}
	
	nav {
		flex-direction: row;
	}
	
	nav a {
		border: none;
		background-color: #fded5f;
		margin: 0.5rem;
;
	}
	
	.slogan {
		display: none;
	}
	
	.avatar {
		display: none;
	}
	
	.portfolio-link {
		width: 100%;
		padding: 1rem;
		text-align: center;
	}
}